.wrapper {
    &.show {
        #sidebar {
            transform: translateX(0);
        }
    }
    .overlay {
        display: none;
        position: fixed;
        z-index: 990;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #sidebar {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: $color-blue-2;
        z-index: 999;
        // padding: 15px;
        transition: all .5s;
        transform: translateX(-105%);
        overflow-y: auto;
        .sidebar-header {
            padding: $pd-1;
        }
        #dismiss {
            position: absolute;
            top: 0;
            right: 0;
            color: $color-white-0;
            font-size: 22px;
            margin-top: 15px;
            margin-right: 15px;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            background-color: $color-blue-2;
            transition: all 0.25s;
            cursor: pointer;
            &:hover {
                color: $color-blue-2;
                background-color: $color-white-0;
            }
        }
        #wrapper__list {
            p {
                padding: $pd-1;
            }
            li {
                cursor: pointer;
                // padding: $pd-1;
                &.active {
                    background: rgba(0, 0, 0, 0.5);
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.5);
                }
                a {
                    color: $color-white-0;
                    font-size: $fs-3;
                    padding: $pd-0;
                    display: block;
                    text-decoration: none;
                }
            }
            #homeSubmenu {}
        }
    }
    .sidebar {
        position: relative;
        &-header {
            h3 {
                color: $color-white-0;
                font-weight: bold;
                width: 70%;
            }
        }
    }
}