.job {
    background: $color-gray-6;
    .job__content {
        .row {
            padding: $pd-0 0;
        }
        .job__item {
            max-width: 450px;
            width: 70%;
            padding: $pd-3;
            margin: 0 auto;
            text-align: center;
            h2 {
                @include styleText($color-black-light, $fs-3 + 1, $fw-1)
            }
        }
    }
    @include reponsive("medium") {
        .border-right {
            border-right: none !important;
        }
    }
}