.partner {
    background: $color-gray-6;
    padding: $pd-3 0;
    .partner__content {
        width: 70%;
        margin: 0 auto;
        .partner__text {
            text-align: center;
        }
        .partner__imgs {
            display: flex;
            justify-content: space-between;
        }
    }
    @include reponsive("etra-large") {
        .partner__content {
            width: 80%;
        }
    }
    @include reponsive("large") {
        .partner__content {
            width: 90%;
        }
    }
    @include reponsive("medium") {
        .partner__content {
            width: 60%;
            .partner__imgs {
                flex-wrap: wrap;
                .partner__item {
                    width: 50%;
                    text-align: center;
                    margin-bottom: $mg-0 + 5;
                }
            }
        }
    }
}